.membership{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #AA5E12;
    border-radius: 15px;
}
.membership button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #854300;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
.membership img{
    width: 200px;
    margin-bottom: 10px;
}
.membership button:hover{
    text-decoration: underline;
}